<!DOCTYPE html>
<html lang="en" {% block html_tag_attributes %}{% endblock %}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- <script src="/static/"></script> -->
        <title>
            {% block title %}Swiss army knife{% endblock %}
        - swikn</title>
        {% block extra_head %}{% endblock %}
        <meta name="description"
              content="{% block meta_description %} Description {% endblock meta_description %}" />
        <script defer
                data-domain="swikn.xojoc.pw"
                src="https://plausible.xojoc.pw/js/script.js"></script>
        <script type="module">
            import init, { call_tool, get_tools } from '/static/swikn_frontend.js';

            window.get_tools = get_tools;
            window.call_tool = call_tool;

            async function run() {
                await init();
            }

            run().then((val) => {
                // window.onload = (event) => {
                    let div = document.getElementById('tools-list');
                    div.innerHTML = window.get_tools()
                // };
                })
        </script>
        <!--         <script type="module"> -->
        <!-- import { basicSetup, EditorView } from "https://esm.sh/codemirror@v6.0.1" -->
        <!-- import { javascript } from "https://esm.sh/@codemirror/lang-javascript@v6.0.1" -->
        <!---->
        <!-- new EditorView({ -->
        <!-- 	doc: "console.log('hello')\n", -->
        <!-- 	extensions: [basicSetup, javascript()], -->
        <!-- 	parent: document.body, -->
        <!-- }) -->
        <!-- </script> -->
    </head>
    <body class="d-flex flex-column">
        <header>
            header
        </header>
        {% block main %}{% endblock %}
        <div id="tools-list"></div>
        <script></script>
        <footer>
            footer
        </footer>
    </body>
</html>
